<h1><%= @user.f_name %>'s Neighbors</h1>

<h2>Current Campaign:</h2>
<p class="centered">Re-Elect Christopher McVoy 2015</p>

<h2>Ready To Canvass?</h2>
<p><%= link_to "My Neighbors", voters_path %></p>





<div class="user_contact centered">
  <p>My Personal Information:</p>
    <ul>
      <li>First Name: <%= @user.f_name %></li>
      <li>Last Name: <%= @user.l_name %></li>
      <li>E-Mail: <%= @user.email %></li>
      <li>Phone Number: <%= @user.phone_number %></li>
      <li>Street Address: <%= @user.street_address %></li>
      <li>Apt. Number: <%= @user.apt_number %></li>
      <li>Zip Code: <%= @user.zip_code %></li>
    </ul>
</div>

<p class="link centered"><%= link_to "Edit My Info", edit_user_path(@user) %></p>
