<h1><%= @user.f_name %>'s Neighbors</h1>

<h3>Current Campaign:</h3>
<p class="centered">Re-Elect Christopher McVoy 2015</p>

<h3>Ready To Canvass?</h3>
<p><%= link_to "My Neighbors", voters_path %></p>

<div class="user_contact centered">
  <h3>My Personal Information:</h3>
    <ul>
      <li>First Name: <%= @user.f_name %></li>
      <li>Last Name: <%= @user.l_name %></li>
      <li>E-Mail: <%= @user.email %></li>
      <li>Phone Number: <%= @user.phone_number %></li>
      <li>Street Address: <%= @user.street_address %></li>
      <!-- <li>Apt. Number: <#%= @user.apt_number %></li> -->
      <li>Zip Code: <%= @user.zip_code %></li>
    </ul>
</div>

<div class="foot">
<p><%= link_to "Edit My Info", edit_user_path(@user) %></p></div>
