<div class="address">
<h1><%= @voter.street_address %> <%= @voter.apt_number %> <%= @voter.zip_code %></h1>
</div>

<div class="basic">
  <ul>
    <li>First Name: <%= @voter.f_name %></li>
    <li>Last Name: <%= @voter.l_name %></li>
  </ul>
</div>

<ul>
<%= form_for @voter do |f| %>
  <li><%= f.label :email, 'E-Mail' %></li>
  <li><%= f.text_field :email %></li>
  <li><%= f.label :phone_number, 'Phone Number' %></li>
  <li><%= f.text_field :phone_number %></li>
  <li><%= f.submit 'Update Voter Contact Info' %></li>
<% end %>
</ul>

<!-- make notes field very big and make vote decision a checkbox with three choices -->
<ul>
<%= form_for [@voter, @visit] do |f| %>
  <li><%= f.label :vote_decision, 'Vote Decision'%></li>
  <li><%= f.text_field :vote_decision %></li>
  <li><%= f.label :notes, 'Notes' %></li>
  <li><%= f.text_field :notes, :size => 80 %></li>
  <li><%= f.submit 'Submit Visit Info' %></li>
<% end %>
</ul>


<p class="foot">
<%= link_to "Voter Information", voter_path(@voter) %>

<%= link_to "Voter Index", voters_path %>

<%= link_to "My Page", user_path(current_user) %>
</p>
